/* ===== x-small devices responsive start ====== */
@media (max-width: 575.98px) {
/* ===== main menu part start ===== */
.navbar {
	--bs-navbar-padding-y: 10px;
}
.navbar-toggler-icon {
	width: 1.3em;
	height: 1.3em;
}
.main_menu .navbar-brand {
	width: 140px;
}
.navbar-toggler {
	color: var(--brand_color);
}
.navbar-nav {
	gap: 11px;
	align-items: center;
}
.nav_download a {
    margin: 0 auto;
    margin-top: 10px;
}
/* ----- main menu part end ----- */
/* ===== banner part start ===== */
#banner {
	padding-top: 55px;
}
.banner_text_part{
    text-align: center;
}
.benner_text_head h1 {
	font-size: 52px;
}
.benner_text_head h2 {
	font-size: 20px;
}
.banner_text_paragraph p {
	width: 100%;
	font-size: 14px;
}
.banner_text_review {
	width: 156px;
	height: 48px;
	margin: 0 auto;
	margin-bottom: 26px;
}
.banner_review_text h3 {
	font-size: 21px;
}
.banner_review_icon ul {
	gap: 8px;
}
.banner_review_icon ul li i {
	font-size: 11px;
}
.banner_review_total p {
	font-size: 11px;
}
.banner_photo_part {
	justify-content: center;
}
/* ----- banner part end ----- */
/* ===== about app part start ===== */
.icon_item {
	align-items: center;
}
.about_image{
    width: 100%;
  }
  .about_head h1 {
	font-size: 25px;
  }
  .about_head p {
	width: 100%;
	font-size: 14px;
}
.about_icon_bg {
	width: 65px;
	height: 65px;
	border-radius: 5px;
}
.about_icon_text h2 {
	font-size: 18px;
}
.about_icon_text p {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
}
.about_button a {
	width: 150px;
	height: 48px;
	font-size: 16px;
    /* margin: 0 auto; */
}
/* ----- about app part end ----- */
/* ===== app_features part start ===== */
#app_features {
	padding: 40px 0;
}
.app_features_head h2 {
	font-size: 25px;
}
.features_cards_row {
	width: 100%;
	justify-content: center;
gap: 20px;
}
.features_card {
	width: 130px;
    padding: 10px 16px;
	border-radius: 8px;
    margin-bottom: 0;
}
.features_card_icon {
	width: 40px;
	height: 40px;
}
.features_card_text h3 {
	font-size: 14px;
}
/* ----- app_features part end ----- */
/* ===== main menu part start ===== */



/* ----- main menu part end ----- */
/* ===== main menu part start ===== */



/* ----- main menu part end ----- */

    
}

/* ----- x-small devices responsive end ----- */
/* ===== small devices responsive start ====== */
@media (min-width: 576px) and (max-width: 767.98px) {





}
/* ----- x-small devices responsive end ----- */
/* ===== medium devices responsive start ====== */
@media (min-width: 768px) and (max-width: 991.98px) {



}
/* -----medium devices responsive end ----- */
/* ===== large devices devices responsive start ====== */
@media (min-width:992px) and (max-width: 1199.98px) {



}
/* ----large devices responsive end ----- */
