/* ========== fonts link css part start ==========  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------- fonts link css part end ---------- */
/* ========== variable css part start ==========  */
:root {
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
  --brand_color: #5940ff;
  --secondary_color: #ff9900;
  --heading_color: #1E1E1E;
  --paragraph_color: #333333;
}

/* ---------- variable css part end ---------- */
/* ========== common css part start ==========  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* ---------- common css part end ---------- */
/* ========== main menu part start ==========  */
.navbar {
  --bs-navbar-padding-y: 20px;
}
.navbar-expand-lg .navbar-collapse {
  gap: 18px;
}
.navbar-nav {
  gap: 18px;
}
.main_menu .navbar-brand{
  width: 163px;
}
.main_menu ul li a{
  font-size: 15px;
  font-weight: 500;
  font-family: var(--poppins);
color: var(--heading_color);
position: relative;
}
.main_menu ul li a:hover{
  color: var(--brand_color)!important;
}
.main_menu .active_menu{
  color: var(--brand_color);
}
.main_menu ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--brand_color);
  position: absolute;
  top: 88%;
  left: 0;
  transition: all linear .3s;
}
.main_menu ul li a:hover::after{
  width: 50%;
}
.main_menu ul li a::before{
  content: '';
  width: 0;
  height: 2px;
  background: var(--secondary_color);
  position: absolute;
  top: 88%;
  right: 0;
  transition: all linear .3s;
}
.main_menu ul li a:hover::before{
  width: 50%;
}
.main_menu .nav_download a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--brand_color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
}
.main_menu .nav_download a:hover {
  background-color: var(--secondary_color);
  transform: rotate(360deg);
}
/* ---------- main menu css part end ---------- */
/* ========== banner css part start ==========  */
#banner{
  background: url(../images/banner_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  position: relative;
  z-index: 1;
}
#banner::after{
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(208deg, #5239EC 11.87%, rgba(5, 21, 107, 0.79) 82.48%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#banner .row{
  align-items: center;
}
.benner_text_head h1{
  font-size: 99px;
  font-weight: 700;
  font-family: var(--poppins);
  color: #fff;
  padding-bottom: 5px;
}
.benner_text_head  h2{
  font-size: 35px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
}
.banner_text_paragraph p{
  width: 430px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
  color: #fff;
  margin: 20px 0;
}
.banner_text_review{
  width: 210px;
  height: 65px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 10px;
  margin-bottom: 40px;
}
.banner_review_text h3{
  font-size: 35px;
  font-weight: 700;
  font-family: var(--poppins);
  color: var(--secondary_color);
}
.banner_review_number{
  display: flex;
  flex-direction: column;
}
.banner_review_icon{
  font-size: 18px;
  color: var(--secondary_color);
}
.banner_review_total p{
  font-size: 14px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
}
.banner_photo_part{
  display: flex;
  justify-content: end;
}
/* ---------- banner css part end ---------- */
/* ========== common css part start ==========  */




/* ---------- common css part end ---------- */
/* ========== common css part start ==========  */




/* ---------- common css part end ---------- */
/* ========== common css part start ==========  */




/* ---------- common css part end ---------- */
/* ========== common css part start ==========  */




/* ---------- common css part end ---------- */