/* ========== fonts link css part start ==========  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------- fonts link css part end ---------- */
/* ========== variable css part start ==========  */
:root {
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;
  --brand_color: #5940ff;
  --secondary_color: #ff9900;
  --heading_color: #1E1E1E;
  --paragraph_color: #333333;
}

/* ---------- variable css part end ---------- */
/* ========== common css part start ==========  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* ---------- common css part end ---------- */
/* ========== main menu part start ==========  */
.navbar {
  --bs-navbar-padding-y: 20px;
}

.navbar-expand-lg .navbar-collapse {
  gap: 18px;
}

.navbar-nav {
  gap: 18px;
}

.main_menu .navbar-brand {
  width: 163px;
}

.main_menu ul li a {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--heading_color);
  position: relative;
}

.main_menu ul li a:hover {
  color: var(--brand_color) !important;
}

.main_menu .active_menu {
  color: var(--brand_color);
}

.main_menu ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: var(--brand_color);
  position: absolute;
  top: 88%;
  left: 0;
  transition: all linear .3s;
}

.main_menu ul li a:hover::after {
  width: 50%;
}

.main_menu ul li a::before {
  content: '';
  width: 0;
  height: 2px;
  background: var(--secondary_color);
  position: absolute;
  top: 88%;
  right: 0;
  transition: all linear .3s;
}

.main_menu ul li a:hover::before {
  width: 50%;
}

.main_menu .nav_download a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--brand_color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear .3s;
}

.main_menu .nav_download a:hover {
  background-color: var(--secondary_color);
  transform: rotate(360deg);
}

/* ---------- main menu css part end ---------- */
/* ========== banner css part start ==========  */
#banner {
  background: url(../images/banner_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  position: relative;
  z-index: 1;
}

#banner::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(208deg, #5239EC 11.87%, rgba(5, 21, 107, 0.79) 82.48%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#banner .row {
  align-items: center;
}

.benner_text_head h1 {
  font-size: 99px;
  font-weight: 700;
  font-family: var(--poppins);
  color: #fff;
  padding-bottom: 5px;
}

.benner_text_head h2 {
  font-size: 35px;
  font-weight: 600;
  font-family: var(--poppins);
  color: #fff;
}

.banner_text_paragraph p {
  width: 430px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--inter);
  color: #fff;
  margin: 20px 0;
}

.banner_text_review {
  width: 210px;
  height: 65px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 10px;
  margin-bottom: 40px;
}

.banner_review_text h3 {
  font-size: 35px;
  font-weight: 700;
  font-family: var(--poppins);
  color: var(--secondary_color);
}

.banner_review_number {
  display: flex;
  flex-direction: column;
}

.banner_review_icon ul {
  display: flex;
  gap: 4px;
}

.banner_review_icon ul li i {
  font-size: 18px;
  color: var(--secondary_color);
}

.banner_review_icon ul .gry_color i {
  color: #98999C;
}

.banner_review_total p {
  font-size: 14px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--paragraph_color);
}

.banner_photo_part {
  width: 100%;
}

.banner_photo_part {
  display: flex;
  justify-content: end;
}

/* ---------- banner css part end ---------- */
/* ========== about app css part start ==========  */
#about_app {
  margin-top: 77px;
  margin-bottom: 31px;
}

/* #about_app .row{
  align-items: center;
} */
.about_image {
  width: 320px;
}

.about_text {
  margin-top: 70px;
}

.about_head h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
}

.about_head p {
  width: 550px;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--inter);
  color: var(--paragraph_color);
  margin-top: 10px;
  margin-bottom: 33px;
}

.icon_item {
  display: flex;
  gap: 11px;
  margin-bottom: 33px;
}

.about_icon_bg {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: var(--brand_color);
  text-align: center;
  line-height: 80px;
  transition: all linear .3s;
}

.about_icon_bg:hover {
  background: var(--secondary_color);
  border-radius: 0;
}

.about_icon_text h1 {
  color: var(--heading_color);
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
}

.about_icon_text p {
  width: 460px;
  color: var(--paragraph_color);
  font-family: var(--poppins);
  font-size: 14px;
  font-weight: 500;
  margin-top: 6px;
}

.about_button a {
  width: 175px;
  height: 50px;
  background: #D9D9D9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D9D9D9;
  transition: all linear .5s;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--poppins);
  color: var(--heading_color);
  position: relative;
  transition: all linear .3s;
}

.about_button a:hover {
  background: none;
  border-radius: 0;
}

/* ---------- about app css part end ---------- */
/* ========== app_features css part start ==========  */
#app_features {
  padding: 76px 0;
  background: #F9F9F9;
}

.app_features_head {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  text-align: center;
  margin-bottom: 43px;
}

.features_cards_row {
  width: 611px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.features_card {
  width: 163px;
  border-radius: 10px;
  background: #fff;
  padding: 20px 23px 26px 23px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: all linear .3s;
}

.features_card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.features_card_icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 12px;
  transition: all linear .3s;
}

.features_card_text h3 {
  font-size: 17px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
}

/* ---------- app_features css part end ---------- */
/* ========== app creenshots css part start ==========  */
#screenshots {
  background: #DFE0F3;
  padding: 70px 0;
}

.app_screenshot_head h2 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--poppins);
  color: var(--heading_color);
  text-align: center;
  margin-bottom: 59px;
}

.slider_item {
  padding: 0 15px;

}

.slider_item img {
  width: 320px;
}

.screenshot_slider ul li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background: rgba(89, 64, 255, 0.50);
  margin-top: 30px;
}

.screenshot_slider ul {
  display: flex;
  gap: 9px;
  justify-content: center;
}

.screenshot_slider ul .slick-active button {
  transform: scale(1.2);
  background: var(--brand_color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* ---------- app creenshots css part end ---------- */
/* ========== common css part start ==========  */




/* ---------- common css part end ---------- */